# Temporary workspace files
scratch/
.*.swp

# Autotools build files
.deps/
.libs/
autom4te.cache/
m4/*.m4
*.in
aclocal.m4
ar-lib
compile
config.*
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h1

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
examples/hello-llm
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
